h1, h2, h3, h4, h5,h6,p{
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.social-icon a {
    color: white;
    padding: 0 3px;
}
.social-icon a:hover {
    color: silver;
}
.menu a{
    color: black;
    padding: 3px;
    margin: 0 3px;
}
.menu a:hover{
    color: darkcyan;
}
.menu .active{
    color: darkcyan;
}
.logo img{
    max-height: 75px;
    padding: 10px 0;
}
.menu {
    margin-top: 25px;
}
.default-link{
    color: black;
}
.default-link:hover{
    color: darkcyan;
}
.feature-headline {
    background: rgba(0,0,0,.75);
    color: white;
    width: 100%;
}
.news-container a{
    color: black;
}
.news-container a:hover{
    color: darkcyan;
}
.news-container a p{
    text-align: justify;
}